/* 幅設定 */
.pomodoro {
    width: 300px;
}

h1 {
    text-align: center;
    background-image: url('/img/icon48.png');
    background-repeat: no-repeat;
    background-size: 35px;
}

.pomodoro_header {
    width: 20px;
}

.pomodoro_text {
    padding-bottom: 10px;
}

.pomodoro_text p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.pomodoro_time {
    padding-bottom: 20px;
    width: 49%;
    display: inline-block;
}

.pomodoro_time label {
    font-size: 14px;
    padding-bottom: 5px;
}

.pomodoro_time input[type=number] {
    border: 1px solid #999999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 40px;
    width: 100%;
}

.pomodoro_btn {
    background-color: #FFFFFF;
    border:1px solid #999999;
    border-radius: 2px;
    color: #333333;
    font-size: 14px;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 49%;
}
/* マウスオーバー */
.pomodoro_btn:hover {
    background-color: #999999;
    color: #FFFFFF;
}