/* 幅設定 */
.pomodoro {
    width: 300px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

img {
    width: 35px;
}

.pomodoro_header {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px; /* Space between h1 and the icon */
}

.pomodoro_tc {
    text-align: center;
}

.pomodoro_ml {
    margin-left: 10px;
}

.pomodoro_text p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.pomodoro_time {
    padding-bottom: 10px;
    width: 40%;
    display: inline-block;
}

.pomodoro_time label {
    font-size: 14px;
    padding-bottom: 5px;
}

.pomodoro_time input[type=number] {
    border: 1px solid #999999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 40px;
    width: 100%;
}

.pomodoro_btn {
    border:1px solid #999999;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 43px;
    width: 40%;
}

.pomodoro_start {
    background-color: #3aad4d;
}

.pomodoro_stop {
    background-color: #c04e4e;
}

/* マウスオーバー */
.pomodoro_btn:hover {
    background-color: #999999;
    color: #FFFFFF;
}

.pomodoro_options {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.pomodoro_options:hover {
    background: #bbb;
}